body{
    background-color: #491217;
}
.r{
    background-color: #0f6674;
}
.p{
    background-color: black;
    color: white;
}
.q{
    background-color: #1e7e34;
}
.m{
    background-color: #95999c;
}
.n{
    background-color: white;
}
.o{
    background-color: black;
    color: white;
}
.s{
    background-color: #19692c;
}
.name{
    display: flex;
    justify-content: center;
}
.img{
    display: flex;
    justify-content: center;
}